p.amount{
  width:100%;
  float:left;
  border-top:1px solid #ddd;
  padding-top:20px;
}

.amount label{
  float:left;
  width:50%;
  height:36px;
  line-height:36px;
}

.amount input{
  float:right;
  width:50%;
}
.requestDetails{
  width:100%;
  font-size:13px;
  font-weight:normal;
  background-color:transparent;
  color:#111;
}

.requestDetails dt{
  font-weight:bold;
  width: 36%;
  float:left;
  margin:10px 0px;
}

.requestDetails dd{
  font-weight:normal;
  width: 61%;
  float:right;
  margin:10px 0px;
  margin-left:3%;
}

.big-button{
  width:100%;
  height:55px;
  font-size: 24px;
  margin-top:10px;
}

dt.double, dd.double{
  height:45px;
}

dd.high, dd.normal{
  font-weight:bold;
}

dd.high{
  color:red;
}

dd.normals{
  color:orange;
}

@media only screen and (min-width: 400px) {
  .requestDetails{
    font-size:14px;
  }

  .requestDetails dt{
    width:32%;
  }

  .requestDetails dd{
    width:65%;
  }

}

@media only screen and (min-width: 500px) {

  .requestDetails dt{
    width:25%;
  }

  .requestDetails dd{
    width:71%;
  }

  dt.double, dd.double{
    height:auto;
  }

}