.topNav{
  width:100%;
  display:block;
  background-color: #fecd06;
  float:left;
}

.navInner{
  width:100%;
  display:block;
  float:left;
}

.link{
  padding:20px 20px;
  font-size:16px;
  text-decoration: none;
  font-weight:bold;
  color:#111;
  display: inline-block;
}

.logo{
  width:40%;
  float:left;
  max-width:180px;
  margin-left:15px;
}

.navbar{
  display:none;
}

.hamburgerMenu{
  display:block;
}

@media only screen and (min-width: 650px) {

  .navbar{
    width:60%;
    float:right;
    margin-top:20px;
    margin-right:20px;
    text-align: right;
    display:block;
  }

  .hamburgerMenu{
    display:none;
  }
}





