.requestsTable{
  width:100%;
  font-size:16px;
  font-weight:normal;
  background-color:transparent;
  color:#111;
  border:1px solid #eee;
  margin-top:15px;

}

.requestsTable th,td{
  background-color: transparent;
  color:#111;
  padding: 14px 12px;
}

td.high, td.normal, td.low{
  padding: 12px 5px;
  text-align: center;
}

td.high span, td.normal span, td.low span{
  font-size:48px;
  line-height:48px;
  padding: 0;
  display: inline-block;
}

td.high{
  color:red;
}

td.normal{
  color:orange;

}

td.low{
  color:#bbb;
}

tr:nth-child(even) td{
  background-color: white;
}

tr.high, tr.normal, tr.low{
  cursor: pointer;
}
tr.high td{
  background-color: #fcc;
  border-bottom:1px solid white;
}

tr.normal td{
  background-color: #fed;
  border-bottom:1px solid white
}
tr.low td{
  background-color:white;
  border-bottom:1px solid #eee
}

tr.shipped{
  background-color:#efe !important;
  border-bottom:1px solid #eee
}

tr.shipped td{
  background-color:#efe !important;
}

td.shipped{
  color:#696 !important;
}


.requestsTable th{
  border-bottom:1px solid #eee;
}

.requestsTable td{
  font-weight:normal;
}

.requestsTable td a{
  font-weight:normal;
}

.requestsTable .quantity{
  text-align: right;
}

.requestsTable td.noRequests{
  text-align: center;
  padding:50px;
}