.burger{
  position: absolute;
  top: 35px;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 0;
}

.burger:focus {
  outline: none;
}

.line {
  width: 2rem;
  height: 0.25rem;
  background: #111;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

/* .line:first-child {
  transform: ${({ open }) => open ? 'rotate(45deg)' : 'rotate(0)'};
}

:nth-child(2) {
  opacity: ${({ open }) => open ? '0' : '1'};
  transform: ${({ open }) => open ? 'translateX(20px)' : 'translateX(0)'};
}

:nth-child(3) {
  transform: ${({ open }) => open ? 'rotate(-45deg)' : 'rotate(0)'};
} */