.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:rgba(0,0,0,0.8);
  height: 35vh;
  text-align: left;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  width: 60%;
  transform: translateX(100%);
}

@media only screen and (min-width: 375px) {
  .menu{
    height: 30vh;
    width: 50%;
  }

}

@media only screen and (min-width: 650px) {
  .menu{
    height: 20vh;
  }

}



.menu-item {
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s linear;
    font-size: 1rem;
    text-align: center;

  }

.menu-item:hover {
  color: #fecd06;
}