
.container ul{
  margin-top:0px;
  margin-left:0px;
  padding-left:0px;
  float:left;
  width:100%;
  max-width:699px;
}

.container ul li{
  list-style: none;
  font-size:16px;
  padding: 5px 0px;
  float:left;
  clear:left;
  width:100%;
  display:table;
}

.container ul li label{
  width:55%;
  max-width:350px;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
}

.container ul li input{
  width:40%;
  margin-top:0.3em;
  margin-right:10px;
  display:inline-block;
}

.container ul li input:disabled{
  border:0;
}

.container ul li button{
  display:block;
  float:right;
  font-size:16px;
  width:65px;
}

.container ul li button.ghost{
  background-color:transparent;
  border:1px solid #ccc;
  color:#333;
}

.container ul li button.ghost:hover{
  background-color:#cdf;
  border:1px solid #cdf;
  color:#333;
}

h3{
  width:100%;
  color:#37a;
  display:block;
  float:left;
  margin-top:15px;
}
.soon{
  width:100%;
  display: block;
  float:left;
  font-style: oblique;
  color:orange;
}